* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bahnschrift", sans-serif;
    background-color: #F5F5F5;
}

header {
    background: #0077B5;
    background: linear-gradient(90deg, #0077B5 40%, #FF6B6B 60%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 28px;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

main h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

#list-container {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#list-container p {
    font-size: 18px;
    margin: 40px;
}

#chart-container {
    display: flex;
    justify-content: center;
    margin: 40px;
}

#skillsChart {
    max-height:300px;
    max-width:400px;
}

.candidate-list {
    list-style: none;
    padding: 0;
}

.candidate-item {
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.candidate-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.candidate-description,
.candidate-skills {
    font-size: 16px;
    margin-bottom: 5px;
}

.candidate-skills {
    color: #0077B5;
}
